/*========== This is css property used for applying our font to webpage===========*/
@font-face{
  font-family: med;
  src: url("med.otf");
}

@font-face{
  font-family: pop;
  src: url("Poppins-Medium.woff");
}

@font-face{
  font-family: bold;
  src: url("bold.otf");
}
/*====This is used for universal selector in body od site======*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
text-decoration: none;
}

/*===This styling for nav section of home page ====*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  margin: 20px;
  width: 70px;
}


.link ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -25px;
  color: #121212;
  margin-right: 20px;
  font-size: 18px;
  font-family: 'med' , sans-serif;
}

.link ul li a {
  transition: all 0.4s ease;
  color: #121212;
}

.link ul li .home {
  color: #6657FF;
  padding-bottom: 5px;
  border-bottom: 3px solid #6657FF;
  
}

.link li .features:hover{
    color: #6657FF;
    padding-bottom: 5px;
    border-bottom: 3px solid #6657FF;
}

.link li .cont:hover {
  color: #6657FF;
  padding-bottom: 5px;
  border-bottom: 3px solid #6657FF;
}

.link li .about:hover {
  color: #6657FF;
  padding-bottom: 5px;
  border-bottom: 3px solid #6657FF;
}


/*=======This is styling for home page main content to give beter experience to user ========*/

.main-cont{
  display: grid;
  gap: 130px;
  padding-bottom: 40px;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit , minmax(200px , 1fr ));
}

.txt{
  padding-left: 50px;
  padding-top: 30px
}

.img {
  margin-left: 100px;
}
.img img {
  width: 490px;
}

.txt h1{
  font-size: 3rem;
  font-family: 'bold' , sans-serif;
  margin-bottom: 14px;
}

.txt p{
  font-family: 'pop' , sans-serif; 
  line-height: 16px;
  word-spacing: 1px;
}

.txt .btn{
 padding: 13px 18px;
 margin-top: 20px;
 margin-left: 10px;
 border-radius: 5px;
 background: transparent;
 outline: none;
 border: 2px solid #6657FF;
 color:#6657FF;
 transition: all 0.3s ease;
 font-family: 'pop' , snsans-serif;  
}

.txt .btn:hover{
  background: #6657FF;
  color: #fff;
}

.txt .btn:active{
  transform: scale(0.9);
  box-shadow: 10px 10px 500px #6657FF; 
  
}

/*=====This are the most useful part of our website for make it more responsive for adapting width according devce and adjust itself to look in better way======*/